@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #fa303c;
  --secondary-color: #002339;
  --text-color: #8b8b8b;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
}
.container {
  max-width: 85%;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 16px 30px;
  border-radius: 100px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  transition: all 0.4s;
}
@media only screen and (min-width: 1024px) {
  .primary-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    transition: all 0.4s;
  }
}

header {
  padding: 37px 0;
  background: #ffffff;
  box-shadow: 0px 4px 61px rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
nav {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}

.navbar li {
  margin-left: 40px;
}
.navbar li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.navbar li:last-child a {
  background-color: var(--primary-color);
  color: #fff;
  padding: 18px 30px;
  border-radius: 100px;
}
.first-section {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 170px 0;
}
.first-section-div {
  max-width: 45%;
}
.first-section-div h2 {
  font-weight: 400;
  font-size: 4.8vw;
  line-height: 1.1;
  color: var(--secondary-color);
}
.first-section-div p {
  margin: 25px 0;
}
.first-section-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  border-bottom: 3px solid rgba(250, 48, 60, 0.6);
  border-left: 3px solid rgba(250, 48, 60, 0.6);
  border-radius: 0px 0px 0px 50px;
  padding: 0 0 35px 35px;
  display: flex;
  height: 87%;
}
.first-section-img::before {
  position: absolute;
  content: "";
  left: -45px;
  border-bottom: 2px solid rgba(250, 48, 60, 0.6);
  height: 100%;
  width: 200%;
  top: 45px;
  border-left: 2px solid rgba(250, 48, 60, 0.6);
  border-radius: 0px 0px 0px 85px;
}
.first-section-img::after {
  position: absolute;
  content: "";
  left: -95px;
  border-bottom: 1px solid rgba(250, 48, 60, 0.6);
  height: 100%;
  width: 200%;
  top: 95px;
  border-left: 1px solid rgba(250, 48, 60, 0.6);
  border-radius: 0px 0px 0px 85px;
}
.first-section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 0px 30px;
}

.about {
  background-color: #fafafa;
  padding: 110px 0;
}
.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  min-width: 170px;
  display: inline-block;
  text-align: center;
  padding: 16px 25px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.secondary-btn {
  background-color: #fff;
  color: var(--primary-color);
  min-width: 170px;
  display: inline-block;
  text-align: center;
  padding: 16px 25px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.about-details h3 {
  color: var(--secondary-color);
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
}
.about-details p {
  margin: 30px 0;
}
.about-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-details a {
  width: fit-content;
}
.about-details img {
  width: 100%;
}
.google-review-box {
  text-align: center;
}
.google-review-box a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--secondary-color);
  justify-content: center;
  width: fit-content;
  background: #fcfcfc;
  border: 2px solid #e3e3e3;
  border-radius: 100px;
  padding: 13px 35px;
  margin: auto;
}
.google-review-box a img {
  margin-right: 10px;
}
.google-review-box h3 {
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 30px;
}
.google-review {
  padding: 100px 0;
}
.contact-us {
  padding: 70px 0;
}

.contact-us-box {
  border-radius: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 580px 1fr;
  overflow: hidden;
}

.contact-us-box h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.contact-us-box a {
  margin-top: 15px;
  width: fit-content;
}
.contact-us-details {
  background-color: var(--primary-color);
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-us-img {
  display: flex;
  position: relative;
}
.contact-us-img::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    #fa303c 5.56%,
    rgba(250, 48, 60, 0) 93.57%
  );
}
footer {
  padding: 100px 0 0 0;
  background-color: var(--secondary-color);
}
.footer-logo {
  text-align: center;
}
.hr {
  width: 100%;
  border: 2px solid #f0f0f0;
  margin: 80px 0;
}
.about-details-right {
  padding-left: 100px;
}
.about-details-left {
  padding-right: 100px;
}

.services-homepage {
  padding: 80px 0 25px 0;
}
.services-homepage-div {
  display: flex;
  flex-direction: column;
}
.services-homepage h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 40px;
}
.services-homepage-box {
  flex: 1;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  border-radius: 25px;
}
.services-homepage-box-bg {
  background-color: var(--primary-color);
}
.services-homepage-box p {
  font-weight: 400;
  line-height: 35px;
  color: #838383;
  text-align: center;
}
.services-homepage-box p span {
  font-weight: bold;
}
.services-homepage-box-bg p {
  color: #fff;
}
.services-homepage h3 {
  font-size: 22px;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin-bottom: 20px;
}
.contact-details {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.contact-details a {
  color: #fff;
  font-size: 20px;
}
.socials-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.socials-icons img {
  height: 40px;
}
.footer-box {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 35px 0;
  margin-top: 35px;
  border-top: 2px solid #fa303c;
}
.footer-box a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.footer-terms {
  text-align: right;
}
.footer-copyright {
  text-align: center;
}
.footer-logo img {
  max-height: 55px;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .services-homepage .col-2 {
    grid-template-columns: 1fr;
  }
  .google-review-box a {
    padding: 5px 25px;
  }
  .google-review-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .google-review {
    padding: 60px 0;
  }
  .hr {
    margin: 50px 0;
  }
  .about-details-left {
    padding-right: 0;
    order: 1;
  }
  .about {
    padding: 80px 0;
  }
  .primary-btn {
    padding: 12px 22px;
  }
  .secondary-btn {
    padding: 12px 22px;
  }
  .container {
    max-width: 100%;
  }
  .footer-box {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
  }
  .footer-terms {
    text-align: center;
  }
  .footer-box a {
    font-size: 18px;
  }
  .contact-details a {
    font-size: 18px;
  }
  .contact-us-box h3 {
    font-size: 35px;
  }
  .contact-us-details {
    padding: 30px 15px;
  }
  .contact-us-box {
    grid-template-columns: 1fr;
  }
  .contact-us-img {
    display: none;
  }
  .about-box {
    grid-template-columns: 1fr;
    max-width: 650px;
    margin: auto;
  }
  .about-details-right {
    padding-left: 0;
  }
  .about-details p {
    margin: 15px 0;
  }
  .about-details img {
    margin-bottom: 15px;
  }
  .first-section-img {
    position: relative;
  }
  .first-section {
    flex-direction: column;
    padding: 150px 0 0 0;
  }
  .first-section-div {
    max-width: 100%;
  }
  .first-section-div p {
    margin: 15px 0;
  }
  .first-section-img {
    height: 300px;
    width: 100%;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    overflow: hidden;
    margin-top: 25px;
  }
  .first-section-img::before {
    display: none;
  }
  .first-section-img::after {
    display: none;
  }
  .first-section-img img {
    border-radius: 0;
  }
  .logo img {
    max-height: 30px;
  }
  header {
    padding: 20px 0;
  }
  .navbar {
    width: 240px;
    height: 100vh;
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    padding: 41px 0;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 4px #52525229;
    transition: all 0.4s;
    transform: translateX(240px);
  }
  .navbar li {
    margin-left: 20px;
    display: flex;
    margin-bottom: 15px;
  }
  .navbar li:last-child a {
    padding: 12px 22px;
  }
  .hamburger {
    display: block;
    position: relative;
    z-index: 99;
  }
  .hamburger .line {
    height: 2px;
    width: 22px;
    background-color: var(--primary-color);
    margin: 4px 0;
  }
  nav {
    justify-content: space-between;
  }
  .active-nav {
    transform: translateX(0);
    transition: all 0.4s;
  }
}
@media only screen and (max-width: 767px) {
  .services-homepage h3 {
    margin-bottom: 0;
  }
  .services-homepage .col-2 {
    grid-template-columns: 1fr;
  }
  .contact-details {
    display: block;
    margin: 30px 0;
  }
  .contact-details a {
    display: block;
    text-align: center;
  }
  .services-homepage h2 {
    margin-bottom: 20px;
  }
}
